In [1]:
import pandas as pd

In [2]:
import regex as re

In [3]:
df01 = pd.read_pickle('QURAN_QUIZZIZ_STAGE_06.pkl')

In [7]:
quiz_col = '''
Question Text
Question Type
Option 1
Option 2
Option 3
Option 4
Option 5
Question Type
Time in seconds
Image Link
'''.strip().split('\n')

In [23]:
df01 = df01[['Question Text', 'Option 1', 'Option 2']]

In [24]:
c = [i for i in  quiz_col if i in list(df01.columns)]

In [75]:
df01['Option 3'] = ''
df01['Option 4'] = ''
df01['Option 5'] = ''
df01['Option 3'] = ''
df01['Question Type'] = 'Fill-in-the-Blank'
df01['Time in seconds'] = 20
df01['Image Link'] = ''

<ipython-input-75-ef6f3ae4d26c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01['Option 3'] = ''
<ipython-input-75-ef6f3ae4d26c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01['Option 4'] = ''
<ipython-input-75-ef6f3ae4d26c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01['Option 5'] = ''
<ipython-input-75-ef6f3ae4d26c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01['Option 3'] = ''
<ipython-input-75-ef6f3ae4d26c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01['Question Type'] = 'Fill-in-the-Blank'
<ipython-input-75-ef6f3ae4d26c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01['Time in seconds'] = 20
<ipython-input-75-ef6f3ae4d26c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01['Image Link'] = ''

In [68]:
df = df01[['Question Text',
 'Question Type',
 'Option 1',
 'Option 2',
 'Option 3',
 'Option 4',
 'Option 5',
 'Time in seconds',
 'Image Link']]

In [69]:
['Question Text',
 'Question Type',
 'Option 1',
 'Option 2',
 'Option 3',
 'Option 4',
 'Option 5',
 'Time in seconds',
 'Image Link']

['Question Text',
 'Question Type',
 'Option 1',
 'Option 2',
 'Option 3',
 'Option 4',
 'Option 5',
 'Time in seconds',
 'Image Link']

In [70]:
df['Option 2'] = df['Option 2'].apply(lambda x: '-' if len(x)<2 else x)

In [71]:
df.to_pickle('QUIZZIZ_QURAN_RARE_WORDS.pkl', protocol=4)

In [72]:
exp_quiz_quran = [f"df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_{str(i).zfill(2)}.xlsx', encoding='utf-8', index=False)" for i in range(1,20)]

In [73]:
for i in exp_quiz_quran:
    print(i)

df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_01.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_02.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_03.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_04.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_05.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_06.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_07.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_08.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_09.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_10.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_11.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_12.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_13.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_14.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_15.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_16.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_17.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_18.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_19.xlsx', encoding='utf-8', index=False)

In [74]:
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_01.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_02.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_03.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_04.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_05.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_06.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_07.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_08.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_09.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_10.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_11.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_12.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_13.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_14.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_15.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_16.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_17.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_18.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_19.xlsx', encoding='utf-8', index=False)

In [90]:
test = pd.read_pickle('QUIZZIZ_QURAN_RARE_WORDS.pkl')

In [91]:
test[test['Question Text'].apply(lambda x: x.startswith('_ '))]

,Question Text,Question Type,Option 1,Option 2,Option 3,Option 4,Option 5,Time in seconds,Image Link
0,_ _ _ _ _ _ _ أيقاظا وهم رقود ونقلبهم ذات الي...,Fill-in-the-Blank,وتحسبهم,-,,,,15,
14,_ _ _ _ _ _ _ فأرسلنا عليهم سيل العرم وبدلناه...,Fill-in-the-Blank,فأعرضوا,-,,,,15,
26,_ _ _ _ _ _ _ _ العابدون الحامدون السائحون ال...,Fill-in-the-Blank,التائبون,-,,,,15,
36,_ _ _ _ _ _ _ أينما ثقفوا أخذوا وقتلوا تقتيلا,Fill-in-the-Blank,ملعونين,-,,,,15,
70,_ _ _ _ _ _ _ _ للخبيثين والخبيثون للخبيثات و...,Fill-in-the-Blank,الخبيثات,-,,,,15,
...,...,...,...,...,...,...,...,...,...
5517,_ _ _ _ _ _ السماء فهي يومئذ واهية,Fill-in-the-Blank,وانشقت,-,,,,15,
5529,_ _ _ _ _ _ الكتاب والحكمة والتوراة والإنجيل,Fill-in-the-Blank,ويعلمه,-,,,,15,
5531,_ _ _ _ _ _ _ فيه ومن يعرض عن ذكر ربه يسلكه ع...,Fill-in-the-Blank,لنفتنهم,-,,,,15,
5535,_ _ _ _ أو انقص منه قليلا,Fill-in-the-Blank,نصفه,-,,,,15,
5539,_ _ _ _ _ _ من السماء ماء مباركا فأنبتنا به ج...,Fill-in-the-Blank,ونزلنا,-,,,,15,

In [92]:
test[test['Option 1'].apply(lambda x: 'حملناه' in x)]

,Question Text,Question Type,Option 1,Option 2,Option 3,Option 4,Option 5,Time in seconds,Image Link
1612,_ _ _ _ _ _ _ على ذات ألواح ودسر,Fill-in-the-Blank,وحملناه,-,,,,15,

In [103]:
def start_right(x):
    if x.startswith('_'):
        return f'ـ {x} ـ'
    else:
        return x

In [112]:
def start_end_right(x):
    result = f'ـ {x} ـ'

In [113]:
test['Question Text_1'] = test['Question Text'].apply(lambda x: start_end_right(x))

In [114]:
test['Question Text_1']

0       None
1       None
2       None
3       None
4       None
        ...
5538    None
5539    None
5540    None
5541    None
5542    None
Name: Question Text_1, Length: 5543, dtype: object

In [106]:
df = pd.read_pickle('QUIZZIZ_QURAN_RARE_WORDS.pkl')

In [109]:
df['Question Text'] = df['Question Text'].apply(lambda x: start_right(x))

In [110]:
df.to_pickle('QUIZZIZ_QURAN_RARE_WORDS.pkl', protocol=4)